@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import 'tailwindcss';

@theme {
  --text-color-main: #020817;
  --text-color-secondary: #6b7280;
  --color-accent: #9ca0a8;
  --color-main-bg: #020817;
  --background-color-main: #ffffff;
  --font-family-main: 'JetBrains Mono', monospace;
  --font-family-secondary: 'Space Mono', monospace;
}
